.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background-color: var(--c4);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.menuActions {
  display: flex;
  align-items: center;
  gap: 30px;
}
