.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 20px 80px;
  background-color: var(--c4);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.menuActions {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-self: end;
  grid-column: 3 / 5;
}
