.containerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 100%;
}

.itemList {
  text-decoration: none;
  color: var(--c1);
  font-size: 14px;
  line-height: 20px;
}

.itemList:hover {
  color: var(--c2);
}

.item {
  position: relative;
}

.containerList .item:nth-of-type(2) .itemList {
  color: var(--c2);
}

.containerList .item:nth-of-type(2) .itemList::after {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: var(--c2);
  position: absolute;
  top: 25px;
  left: 0px;
  border-radius: 12px;
}
