* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c1: #555555;
  --c2: #d14b8f;
  --c3: #f5f5f5;
  --c4: #ffffff;
  --c5: #cccccc;
  --c6: #4fbfa5;
  --c7: #1D1D1B;
  --c8: #888888;
  --c9: #F79552;
  --c10: #B6116E;
  --c11: #7EBC43;
}
